@model IEnumerable<Order>





<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order Date</th>
            <th scope="col">Total</th>
            <th scope="col">Completed</th>
            <th scope="col">Customer Id</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>


        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            if (order.IsCompleted == true)
            {
                <tr>
                    <th scope="row">@order.Id</th>
                    <td>@order.OrderTime</td>
                    <td>@order.Topay</td>

                    <td>Completed</td>
                    <td>@order.UserId</td>

                    <td>
                        <a asp-area="" asp-controller="Customer" asp-action="DeleteOrder" asp-route-id="@order.Id" class="btn btn-secondary">Delete</a>
                    </td>

                    <td></td>

                </tr>
            }
            else
            {
                <tr>
                    <th scope="row">@order.Id</th>
                    <td>@order.OrderTime</td>
                    <td>@order.Topay</td>

                    <td>Not completed</td>
                    <td>@order.UserId</td>


                    <td>
                        <a asp-area="" asp-controller="Admin" asp-action="ManageOrders" asp-route-id="@order.Id" class="btn btn-secondary">Delete</a>
                       
                    </td>
                    <td></td>

                </tr>
            }

        }
    </tbody>
</table>