@model IEnumerable<Order>





<table class="table">
    <thead style="display:table-header-group;">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order Date</th>
            <th scope="col">Total</th>
            <th scope="col">Completed</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
           

        </tr>
    </thead >
    <tbody>
        @foreach (var order in Model)
        {
            if (order.IsCompleted == true)
            {
                <tr>
                    <td scope="row">@order.Id</td>
                    <td>@order.OrderTime</td>
                    <td>@order.Topay</td>

                    <td>Completed</td>

                    <td>
                        <a asp-area="" asp-controller="Customer" asp-action="DeleteOrder" asp-route-id="@order.Id" class="btn btn-secondary">Delete</a>
                    </td>

                    <td></td>
                    
                </tr>
            }
            else
            {
                <tr>
                    <td scope="row">@order.Id</td>
                    <td>@order.OrderTime</td>
                    <td>@order.Topay</td>

                    <td>Not completed</td>
                   

                    <td>
                        <a asp-area="" asp-controller="Customer" asp-action="DeleteOrder" asp-route-id="@order.Id" class="btn btn-secondary">Delete</a>
                        <a asp-area="" asp-controller="Customer" asp-action="CompleteOrder" asp-route-id="@order.Id" class="btn btn-secondary">Complete payment</a>
                    </td>
                    <td></td>
                  
                </tr>
            }

        }
    </tbody>
</table>