@model Order



<h1>Complete your purchase</h1>


    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Your Order</h5>
            <div class="row">
                <div class="col">
                    <h4>Products</h4>
                </div>
                <div class="col">
                    <p>@Model.Total kr</p>
                </div>
            </div>
        <div class="row">
            <div class="col">
                <h4>Shipping </h4>
            </div>
            <div class="col">
                @if (@Model.ShippingTotal == 0)
                {
                    <p class="card-text" >Free shipping</p>
                }
                else
                {
                    <p class="card-text">@Model.ShippingTotal kr</p>
                }
            </div>
        </div>
        <div class="row">
            <div class="col">
               
                <h4>Total</h4>
            </div>
            <div class="col">
                @if (Model.ShippingTotal == 0)
                {
                    <p>@Model.Total kr</p>
                }
                else{
                    var ToPay = Model.Total + Model.ShippingTotal;
                    <p>@ToPay  kr</p>
                }
               
            </div>
        </div>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <form method="post" asp-area="" asp-action="PlaceOrder" asp-controller="Customer">
            <input type="hidden" name="id" value="@Model.Id">
            <button class="cart-btn" type="submit">Confirm Payment @Model.Topay</button>
        </form>
        </div>
    </div>


