@model Order



<h1>Complete your purchase</h1>


<div class="wrapper">
    <div class="checkout container">
        <form id="payment-form" method="post" >
            @Html.HiddenFor(n => n.Id)

            <div class="card" style="width: 18rem;">
                <img src="/media/logosit.png" class="card-img-top" alt="...">

                <div>
                    <div class="card-body">
                        <h5 class="card-title">@Model.Id</h5>
                        <h6 class="card-title">@Model.OrderTime</h6>

                    
                        <p class="card-text">@Model.Total</p>

                    </div>

                </div>
            </div>
            <hr />
            <button class="btn btn-success" type="submit"><span>Confirm payment - @Model.Total</span></button>
            <section>
                <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                </div>
            </section>
        </form>
    </div>
</div>


































@*
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Your Order</h5>
            <div class="row">
                <div class="col">
                    <h4>Products</h4>
                </div>
                <div class="col">
                    <p>@Model.Total</p>
                </div>
            </div>
        <div class="row">
            <div class="col">
                <h4>Shipping </h4>
            </div>
            <div class="col">
                <p>Free</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Total</h4>
            </div>
            <div class="col">
                <p>@Model.Total</p>
            </div>
        </div>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn-cart">Pay</a>
        </div>
    </div>


*@