@using Newtonsoft.Json
@model IEnumerable<Cart>





	@foreach(var c in Model){


		foreach(var p in c.Products ){

        <table class="table">
            <thead>
                <tr>
                    
                    <th scope="col">     </th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr >
                 
                    <td><img src="@p.Image" style="width:100px; height:100px;"/></td>
                    <td >@p.Title</td>
                    <td>Amount @p.Amount</td>
                    @if(p.Shipping == 0){
                        <td style="color:forestgreen;">Free shipping</td>
                    }else{
                        <td style="color:forestgreen;">Shipping fee @p.Shipping</td>
                    }
                  
                    <td style="color:orange;">Total @((p.Price * p.Amount) + (p.Shipping * p.Amount) ) kr</td>
                    <td>
                       
                            <form method="post" asp-area="" asp-action="DeleteItem" asp-controller="Customer">
                                <input type="hidden" name="id" value="@p.Id">
                                <button class="btn btn-danger" type="submit" >Delete</button>
                            </form>
                        
                 
                      
                    </td>
                </tr>
               
            </tbody>
        </table>
     
		}
	}

    @if (Model.FirstOrDefault() != null && Model.FirstOrDefault().Products.Count() != 0)
    {
        <form method="post" asp-area="" asp-action="PlaceOrder" asp-controller="Customer">
        <input type="hidden" name="id" value="@Model.FirstOrDefault().Id">
            <button class="cart-btn" type="submit">Place order</button>
        </form>


      
    }
    else
    {
        <h1>Your shopping cart is empty!!</h1>
    }
